<%	provide(:title, 'About Us') %>

<body>
	<h1>About Us</h1>
	<p>
		The <a href="http://railstutorial.org">The Ruby on Rails Tutorial</a>. There you can learn a lot obout web deweloping under Rails and Ruby.
	</p>
</body>
